* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Black.ttf");
  font-weight: 500;
  font-style: normal;
} */

header {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

header .navbar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
  box-shadow: 0 0 10px #000;
  padding: 31px 69px;
}

header .navbar .navdiv {
  display: flex;
  align-items: center;
  gap: 35px;
}

header .navbar .fp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 26px;
  color: #6930c3;
}

header .navbar .navp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  color: #4c4c4c;
}

header .navbar button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  color: #6930c3;
  background: #ffffff;
  border: 2px solid #6930c3;
  border-radius: 50px;
  padding: 0 10px;
}

header .head-div {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .head-div h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 62px;
  line-height: 88px;
  color: #343434;
}

header .head-div .p1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #6930c3;
}

header .head-div .p2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-weight: 500;
  font-size: 26px;
  line-height: 44px;
  color: #4c4c4c;
}

header .head-div .imgs {
  display: flex;
  gap: 34px;
  margin-top: 10px;
}

.black-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 98px 0 120px;
  width: 100%;
  background: #343434;
}

.black-sec .mainp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 76px;
  color: #ffffff;
}

.black-sec .textd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 64px;
}

.black-sec .textd p {
  width: 663px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 44px;
  color: #e6e6e6;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 99px 0 250px;
}

.skills .gp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.03em;
  color: #343434;
}

.skills .gridd {
  display: grid;
  width: 785px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 242px);
  gap: 30px;
  row-gap: 40px;
  margin-top: 100px;
}

.skills .gridd .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.skills .gridd .card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 44px;
  color: #4c4c4c;
}

.writeups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #343434;
  padding: 105px 0 155px;
}

.writeups .wh3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.writeups .main_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  margin-top: 154px;
}

.writeups .main_div .wcard {
  width: 438px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #212121;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border: 3px solid #6930c3;
  padding: 0 50px;
  transform: skew(0, -15deg);
  transition: all linear 0.2s;
}

.writeups .main_div .wcard h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #c25eff;
  transform: skew(0, 15deg);
}

.writeups .main_div .wcard p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: skew(0, 15deg);
}

.writeups .main_div .wcard:hover {
  border: 5px solid;
  border-image: conic-gradient(#daff47, #3becb7, #ca5040, #d05ba8, #5bd06e) 1;
}

@media screen and (min-width: 720px) {
  .navbar .navimg {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .skills .gridd {
    width: auto;
  }
  .writeups .main_div .del {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .navbar .navdiv .fp,
  .navp {
    display: none;
  }
  header {
    height: auto;
  }
  header .navbar {
    height: 77px;
    justify-content: space-between;
  }
  header .head-div {
    height: auto;
    padding-top: 74px;
    padding-bottom: 164px;
  }
  .black-sec .mainp {
    font-size: 34px;
    line-height: 56px;
  }
  .black-sec .textd p {
    font-size: 15px;
    line-height: 38px;
  }
  .skills .gridd {
    width: auto;
  }
  .writeups .main_div .del {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .black-sec .mainp {
    font-size: 24px;
    line-height: 46px;
    text-align: center;
  }
  .black-sec .textd p {
    font-size: 15px;
    line-height: 24px;
    width: 80%;
  }
  .skills .gridd .card img {
    width: 80px;
  }
  .skills .gridd .card p {
    text-align: center;
    font-size: 16px;
    line-height: 34px;
  }
  header .head-div h1,
  .p2 {
    text-align: center;
    font-size: 42px;
    line-height: 68px;
  }
  .skills .gridd {
    width: 80%;
    grid-template-rows: repeat(5, 180px);
  }
  .writeups .main_div .wcard {
    width: 80%;
    height: 400px;
  }
  .writeups .main_div .wcard h5 {
    font-size: 20px;
    line-height: 30px;
  }
  .writeups .main_div .wcard p {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 310px) {
  header .navbar {
    padding: 12px;
  }
  .black-sec .textd p {
    width: 80%;
  }
  .black-sec .mainp {
    text-align: center;
  }
  .skills .gridd {
    gap: 10px;
  }
  .skills .gridd .card img {
    width: 60px;
  }
  .skills .gridd .card p {
    font-size: 16px;
    line-height: 34px;
  }
  .writeups .wh3 {
    font-size: 52px;
    line-height: 82px;
  }
  .writeups .main_div .wcard {
    width: 80%;
    height: 300px;
  }
  .writeups .main_div .wcard h5 {
    font-size: 13px;
    line-height: 25px;
  }
  .writeups .main_div .wcard p {
    font-size: 13px;
    line-height: 25px;
  }
  header .head-div h1,
  .p2 {
    text-align: center;
    font-size: 42px;
    line-height: 68px;
  }
}
